<template name="info">
	<div class="row-fluid">  
		<div class="span12"> 
	                    <section class="utopia-widget"> 
	                        <div class="utopia-widget-title"> 
	                            <img src="img/icons/font.png" class="utopia-widget-icon"> 
	                            <span>Fix Details</span> 
	                        </div> 
							<div class="utopia-widget-content"> 
	                            <dl class="dl-horizontal"> 
	                                <dt>Name</dt> 
	                                <dd><a href="#">{{title}}</a></dd> 
	                                <dt>Date</dt> 
	                                <dd>{{date}}</dd> 
	                                <dt>Description</dt> 
	                                <dd>{{desc}}</dd> 
	                                <dt>Volunteered</dt> 
	                                <dd>{{volunteered}}</dd> 
	                                    <dt><a class="btn btn-danger" href="/volunteer" title="Volunteer"><i class="icon-globe icon-white"></i>
										    Volunteer</a></dt> 
	                                	<dd><p><div class="social-box-icon"><a href="#" class="zocial icon facebook">Share on Facebook</a> 
	                                	<a href="#" class="zocial icon googleplus">Share on Google</a> 
	                                	<a href="#" class="zocial icon twitter">Share on Twitter</a></div></p></dd> 
	                            </dl> 
	                        </div> 
	                    </section> 
	                </div> 
	            </div>
</template>