<template name="volunteer">
	<form>
		        <div class="form-group">
            <label for="name">Name</label>
            <input type="password" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-actions">
	        <button type="submit" class="btn btn-primary span4">RSVP</button>
	        <button  class="btn btn-primary span4">Cancel</button>
    	</div>
    </form>

</template>