<template name="calendar">
    <div class="row-fluid">
        <div class="span12">
            <section class="utopia-widget">
                <div class="utopia-widget-title">
                    <img src="img/icons/calendar.png" class="utopia-widget-icon">
                    <span>Spotfix calendar</span>
                </div>

                <div class="utopia-widget-content">
                    <div id="utopia-fullcalendar" class="utopia-calendar-day">

                    </div>
                </div>
            </section>

        </div>
    </div>
</template>