<template name="gallery">
<!--Full Fluid Gallery  Start -->
    <div class="row-fluid">
        <div class="span12">
           <section class="utopia-widget">

              <div class="utopia-widget-title">
                  <img src="img/icons/pictures_folder.png" class="utopia-widget-icon">

                  <span>Spotfix hall of (sh)fame</span>
              </div>


              <div class="utopia-widget-content">
                  <div id="utopia-woomark" role="main">

                     <ul id="utopia-tiles">
                        <!-- These are our grid blocks -->
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/18.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/18.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/06.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/06.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/04.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/04.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/14.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/14.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/03.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/03.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/09.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/09.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/12.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/12.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/05.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/05.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>

                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/01.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/01.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/02.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/02.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/14.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/14.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <a class="utopia-colorbox1" href="img/fullsize/19.jpg" title="The title content here..">
                                <img src="img/thumbnails/mix/19.jpg"></a>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                         <li>
                             <a class="utopia-colorbox1" href="img/fullsize/08.jpg" title="The title content here..">
                                 <img src="img/thumbnails/mix/08.jpg"></a>

                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                 incididunt ut labore et dolore magna aliqua.</p>
                         </li>
                         <li>
                             <a class="utopia-colorbox1" href="img/fullsize/13.jpg" title="The title content here..">
                                 <img src="img/thumbnails/mix/13.jpg"></a>

                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                 incididunt ut labore et dolore magna aliqua.</p>
                         </li>
                         <li>
                             <a class="utopia-colorbox1" href="img/fullsize/11.jpg" title="The title content here..">
                                 <img src="img/thumbnails/mix/11.jpg"></a>

                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                 incididunt ut labore et dolore magna aliqua.</p>
                         </li>

                        <!-- End of grid blocks -->
                     </ul>
                  </div>
                  <div class="clearfix"></div>
              </div>
           </section>
         </div>
    </div>
    <!--Full Fluid Gallery End-->

</template>